body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("career.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
p{
  font-size: 16px;
  text-align: center;
  padding-right: 8em;
  padding-left: 8em;
}
h1{
  text-align: center;
}
.w3-container{
  padding-right: 10em;
}
h3{
  text-align: center;
}
#resume{
  padding-left: 25em;
}
